.day-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  transition: top var(--long-transform-duration) ease-out;
}

.invisible-input:checked ~ .day-container {
  top: 120%;
}
